.login_container {
  width: 100%;
  min-height: 100vh;
  background-color: #dcfce7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "AR One Sans", sans-serif;
}

.login_left_form_container {
  width: 900px;
  height: 500px;
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  font-family: "AR One Sans", sans-serif;
  margin: 20px;
}

.login_left {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-family: "AR One Sans", sans-serif;
}

.login_form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "AR One Sans", sans-serif;
}

.login_left h1 {
  font-size: 35px;
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 20px;
}

.input {
  border: 1px solid #006778;
  width: 370px;
  padding: 15px;
  border-radius: 10px;
  background-color: white;
  margin: 5px 0;
  font-size: 14px;
  font-family: "AR One Sans", sans-serif;
}

.passwordContainer {
  position: relative;
  margin-top: 5px;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.checkbox {
  margin-right: 5px;
}

.forgotPasswordLink {
  color: #f34646;
  font-weight: bold;
  text-decoration: none;
  margin-left: auto;
  font-size: 14px;
}

.error_msg {
  width: 370px;
  padding: 15px;
  margin: 5px 0;
  font-size: 14px;
  background-color: #ff8080;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-family: "AR One Sans", sans-serif;
}

.login_right {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #006778;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.login_right h1 {
  margin-top: 0;
  color: white;
  font-size: 35px;
  font-weight: 700;
  align-self: center;
}
