@import url("https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600;700&display=swap");

.reset_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #dcfce7;
  align-items: center;
  justify-content: center;
  font-family: "AR One Sans", sans-serif;
}

.reset_form_container {
  width: 500px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
  border: 1px solid greenyellow;
}

.reset_form_container h1 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}

.input {
  border: 1px solid #006778;
  width: 370px;
  padding: 15px;
  border-radius: 10px;
  background-color: white;
  margin: 5px 0;
  font-size: 16px;
  font-family: "AR One Sans", sans-serif;
}

.reset_blue_btn {
  border: none;
  outline: none;
  padding: 15px 0;
  background-color: #006778;
  color: white;
  margin: 10px;
  border-radius: 10px;
  width: 370px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  font-family: "AR One Sans", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.reset_blue_btn:hover {
  background-color: #00afc1;
  color: #000;
}

.error_msg,
.success_msg {
  width: 370px;
  padding: 15px;
  margin: 5px 0;
  font-size: 14px;
  background-color: #ff8080;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.success_msg {
  background-color: #a2ff86;
  color: black;
}

.line {
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.checkboxContainer {
  display: flex;
  justify-content: space-between;
  align-items: left;
}

.checkboxLabel {
  display: flex;
  align-items: left;
  font-size: 14px;
  font-weight: 600;
  color: #555;
  margin-top: 10px;
}

.checkbox {
  margin-right: 5px;
}

.passwordStrengthContainer {
  align-items: center;
  margin-top: 10px;
}

.passwordStrengthSymbol {
  font-size: 20px;
}

.passwordStrengthText {
  font-size: 16px;
  margin-top: 5px;
  font-weight: 600;
}
